<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149220983944-i2ugtlllquid8hr09ce1mbl703ni7hop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149220983944-i2ugtlllquid8hr09ce1mbl703ni7hop</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>149220983944-ncee6ro4o1mgiebjo9osqikf89ijh0ia.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4kA0vdyeGK-xNvXfNmRgQBHEtK6ye70</string>
	<key>GCM_SENDER_ID</key>
	<string>149220983944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.clusterpage</string>
	<key>PROJECT_ID</key>
	<string>netapp-capstone-project-bc854</string>
	<key>STORAGE_BUCKET</key>
	<string>netapp-capstone-project-bc854.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149220983944:ios:80aadabce8681506170b3d</string>
</dict>
</plist>